html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", "IBM Plex Sans", Arial, sans-serif;
}

/***NAVIGATION***/

    /*Begin Desktop Navigation*/
#desktopNav {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
    padding: 0.5em 1.5em;
    background: white;
}

.iconContainer {    /*contains hamburger menu and chipotle icon*/
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
}

.navList {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.navList_item:not(:last-child) {
    margin-right: 2em;
}

.navLink {
    position: relative;
    font-family: 'font73252', "IBM Plex Sans", Arial, sans-serif; /*font73468 = Trade Gothic LT*/
    font-size: 1.5rem;
    text-decoration: none;
    color: #451400;
}

.navLink:hover {
    color: #ad2118; 
}

.navLink::after {       /*Bottom border effect on hover*/
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    height: 3px;
    width: 0px;
    background: #ad2118;
    transition: width 0.2s;
}

.navLink:hover::after {
    width: 25px;
}

.headerButton {
    height: 40px;
    padding: 0 1.5em;
    background-image: linear-gradient(to right, black 50%, #451400 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;    
}

.headerButton:hover {
    transition: all 0.2s;
    background-position: left bottom;
}

.fi-xnsuxl-codeigniter {    /*Flame icon*/
    font-size: 1.1rem;
    color: white;
    padding-right: 5px;
}

.headerButton_span {
    color: white;
    letter-spacing: 1.15px;
    padding-left: 10px; 
    border-left: solid 1px; 
}

    /*End Desktop Navigation*/
    /*Begin Mobile Navigation*/

/*Hamburger Menu*/
.hamburger {
    background: white;
    border: none;
    margin-right: 1.5em;
    margin-left: -3em;
    visibility: hidden;
    cursor: pointer;
}

.hamburger div {
    background: #451400;
    width: 30px;
    height: 3px;
    margin: 3px 0;
    border-radius: 10px;
}

.hamburger div:last-child {
    width: 15px;
}

/*End Hamburger Menu*/
/*Begin Mobile Nav Section*/

#mobileNav {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    /* visibility: hidden; */
    background-color: white;
    overflow: auto;
}

.mobileNav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: solid 1px;
}

.hamburger_close {
    height: 100%;
    background: white;
    border: none;
    cursor: pointer;
}

.hamburger_close_span {
    font-size: 1.5rem;
}

.navList--mobile {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin-top: 2em;
    margin-left: 3em;
}

.navList_item--mobile {
   margin-bottom: 1em; 
}

.navLink--mobile {
    font-size: 2.5rem;   
}

.headerButton--mobile {
    display: block;
    width: 200px;
    margin: auto;
}

/*End Mobile Navigation*/

/*Media Queries*/
@media screen and (max-width: 998px)  {
    .hamburger {
        visibility: visible;
        margin-left: -1em;    
    }

    .logo {
        height: 50px;
    }

    .navList {
        visibility: hidden;
        width: 0px;
    }

    .headerButton {
        padding: 0 1em;
    }

    .headerButton_span {
        font-size: 90%;
    }
}

/*****END NAVIGATION*****/
